{% extends "registration/base.html" %}
{% block title %}Email confirmation | FusionAdmin Administration{% endblock %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}


{% block content %}
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Reset password</h1>
                        <p class="lead">
                            Enter your email to reset your password
                        </p>
                    </div>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <div class="alert-message">
                                    {{ error }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                   

                    <div class="alert alert-primary" role="alert">
                        <div class="alert-message">
                            {% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
                        </div>
                    </div>
       
                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-3">
                                <form method="post" id="reset-form">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Email address</label>
                                        <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email address" id="id_email"/>
                                    </div>                            
                                    <div class="d-grid gap-2 mt-3">
                                        <input type="submit" class="btn btn-lg btn-primary" value="Reset my password">
                                    </div>
                                </form>
                                <div class="d-grid gap-2 mt-3">
                                    <a href="{% url 'admin:login' %}" class="btn btn-lg btn-info">Back to login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'admin/js/app.js' %}"></script>

{% endblock %}
