{% load i18n static %}
{% load i18n admin_urls %}
{% if cl.search_fields %}
<div class="d-flex justify-content-start">
    <form id="changelist-search" class="d-flex justify-content-center gap-3" method="get">

        <div class="input-group flex-item">
            <span class="input-group-text">
                <i data-feather="search"></i>
            </span>
            <input type="text" class="form-control form-control-lg w-50" name="{{ search_var }}" value="{{ cl.query }}" placeholder="Search..." id="searchbar"{% if cl.search_help_text %} aria-describedby="searchbar_helptext"{% endif %}>
        </div>
        <input type="submit" class="btn btn-pill btn-primary" value="{% translate 'Search' %}">

        {% if show_result_count %}
            <span class="small quiet">{% blocktranslate count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktranslate %} (<a href="?{% if cl.is_popup %}{{ is_popup_var }}=1{% endif %}">{% if cl.show_full_result_count %}{% blocktranslate with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktranslate %}{% else %}{% translate "Show all" %}{% endif %}</a>)</span>
        {% endif %}

        {% for pair in cl.params.items %}
            {% if pair.0 != search_var %}
                <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">
            {% endif %}
        {% endfor %}

        {% if cl.search_help_text %}
            <br class="clear">
            <div class="help" id="searchbar_helptext">{{ cl.search_help_text }}</div>
        {% endif %}
    </form>
</div>
{% endif %}
