{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block content %}


    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon">
          <i data-feather="bell"></i>
        </div>
        <div class="alert-message">
          <strong>Hello there!</strong> {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
        </div>
      </div>
    {% endif %}

    {% if form.password1.errors %}
    {% for error in form.password1.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <div class="alert-icon">
        <i data-feather="bell"></i>
      </div>
      <div class="alert-message">
        <strong>{{ form.password1.label }}</strong> {{ error }}
      </div>
    </div>
    {% endfor %}
    {% endif %}


    {% if form.password2.errors %}
    {% for error in form.password2.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <div class="alert-icon">
        <i data-feather="bell"></i>
      </div>
      <div class="alert-message">
        <strong>Confirm password</strong> {{ error }}
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div id="content-main">
              <form {% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">
                {% csrf_token %}
                {% block form_top %}{% endblock %}

                <input type="text" name="username" value="{{ original.get_username }}" class="visually-hidden-focusable">
                {% if is_popup %}
                <input type="hidden" name="{{ is_popup_var }}" value="1">
                {% endif %}

              
                <p>{% blocktranslate with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktranslate %}</p>

                  <div class="form-group">  
                    <label for="id_password1" class="mb-1">{{ form.password1.label_tag }} 
                    </label>       
                    <input class="form-control form-control-lg mb-3" type="password" name="password1" id="id_password1" placeholder="Enter New Password">
                  </div>

                  {% if form.password1.help_text %}
                  <div class="help"{% if form.password1.id_for_label %} id="{{ form.password1.id_for_label }}_helptext">
                      {% endif %}{{ form.password1.help_text|safe }}
                    </div>
                    {% endif %}
                  </div>
                

                  <div class="form-group">  
                    <label for="id_password2" class="mb-1">{{ form.password2.label_tag }}</label>       
                    <input class="form-control form-control-lg mb-2" type="password" name="password2" id="id_password2" placeholder="Confirm Password">

                    {% if form.password2.help_text %}
                      {{ form.password2.help_text|safe }}
                    {% endif %}
                  </div>
                
              
                  <div class="mt-3">
                    <input type="submit" value="{% translate 'Change password' %}" class="btn btn-primary btn-lg">
                  </div>
            
                </form>
              {% endblock %}
          </div>
        </div>
      </div>
    </div>

