<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-1">{% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}</h5>
          {% if fieldset.description %}
             <div class="description">{{ fieldset.description|safe }}</div>
          {% endif %}
        </div>
        <div class="card-body">

            {% for line in fieldset %}
               
                {% for field in line %}
                    {% if not line.fields|length == 1 and not field.is_readonly %}
                        {{ field.errors }}
                    {% endif %}
                        
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}

                    {% if field.field.help_text %}
                        <div class="help"{% if field.field.id_for_label %} id="{{ field.field.id_for_label }}_helptext"{% endif %}>
                            <div>{{ field.field.help_text|safe }}</div>
                        </div>
                    {% endif %}

                    {% endfor %}
            
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
